scripts/keys.py
scripts/*json
scripts/node_modules/
scripts/__pycache__/keys.cpython-310.pyc
package-lock.json
*.pyc
auto_gpt_workspace/*
*.mpeg
.env
outputs/*
ai_settings.yaml
.idea/sonarlint/issuestore/d/2/d24c74deb60783ecbc487e5f58cdccee881fe6cc
